/* Style the tab buttons */
.tablink {
    background-color: #777;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    font-size: 15px;
    width: 50%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #333;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: white;
    display: none;
    padding: 10px;
    text-align: center;
    padding-top: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .tab-selected {
    background-color:black;
  }
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    align-items: stretch;
  }
  .grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
    border-radius: 10px;
  }
  .grid img:hover {
    margin:0;
    transform: scale(1.25);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  /* Style each tab content individually */
  .LoopTimer-tab {
    border-top-left-radius: 20px;
  }
  .QuickClipboard-tab {
    border-top-right-radius: 20px;
  }
  #LoopTimer-content, #QuickClipboard-content {
    background-color: black;
  }
  html *
{
  font-family: Tahoma;
}